<!-- no footer at all! -->
<footer class="bg-light py-5">
  <div class="container">
    <a style="position: absolute;" href="https://www.apache.org/">
      <img src="/assets/img/feather-small.gif" alt="Apache Software Foundation" style="height: 88px !important">
    </a>
    <div class="small text-center text-muted last-hidden">
      {{ site.data.footer.copyright }}
      &nbsp;
      {% for link in site.data.footer.links %}
          <a href="{{ link.url }}" {% assign new_window_is_not_empty = link.new_window | is_not_empty %}
          {% if new_window_is_not_empty %}target="_blank" rel="noopener"
          {% endif %}>{{ link.text }}</a><span>|</span>
      {% endfor %}
    </div>
    <div class="text-center" style="margin: 20px 0">
      <a href="https://www.apache.org/events/current-event.html">
        <img src="https://www.apache.org/events/current-event-234x60.png" />
      </a>
    </div>
  </div>
</footer>
